.wrapper {
  color: var(--color-primary);
  min-width: 846px;
  margin: auto;
}

.wrapper > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
}

.headerWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 344px;
}

.switchWrapper {
  margin-left: 30px;
}

.switcher {
  font-size: 20px;
  color: var(--color-black);
  font-weight: 700;
  padding: 5px;
}

.switcher:first-child:after {
  content: '|';
  margin-left: 10px;
  color: var(--color-lightgrey);
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  min-width: 280px;
  padding: 10px 20px;
  margin-right: 30px;
  border-radius: 30px;
  border: 1px solid var(--color-lightgrey);
}
